<div>
  <h1>Todos</h1>
  <form {{on 'submit' this.handleAddTodo}}>
    <Input @value={{this.newTodoName}} type="text" placeholder="Todo" />
    <button type="submit">Add</button>
  </form>
  <ul>
    {{#each this.todos as |todo index|}}
    <li>
      {{todo.name}}
      -
      {{#if todo.complete}}
      Complete
      {{else}}
      Incomplete
      {{/if}}
      -
      <button {{on 'click' (fn this.toggleComplete index)}}>
        Toggle
      </button>
    </li>
    {{/each}}
  </ul>
</div>
